@import "@/index.scss";

.progress {
    margin-top: 0.4rem;
    margin-bottom: 1.2rem;
    height: 1.4rem;
    border-radius: 1rem;
    background: #e8e6ef;

    &__bar {
        border-radius: 1rem;
        height: 100%;
        transition: width 0.5s ease;
        background: $darkBlueColor;
    }
}

.bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 120%;
    color: $mainBlackColor;

    &__description {
        font-weight: 300;
    }

    &__procent {
        font-weight: 700;
    }
}
